<h1>Pipes <small>Angular</small> </h1>
<hr>
<dir class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{precio}}</td>
                    <td>precios</td>
                    <td>
                        {{precio| precios:true}}<small class="posicion">{{ precio| precios:false}}</small>
                    </td>
                </tr>
                <tr>
                    <td>{{nombre2}}</td>
                    <td>capitalizado:false</td>
                    <td>{{ nombre2 | capitalizado: false}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{ nombre | uppercase }}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{ nombre | lowercase }}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{ nombre | slice:3 }}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{ nombre | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td>{{areglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{ areglo | slice:1:5 }}</td>
                </tr>
                <tr>
                    <td>Pi: {{PI}}</td>
                    <td>number</td>
                    <td>{{ PI | number}}</td>
                </tr>
                <tr>
                    <td>Pi: {{PI}}</td>
                    <td>number:'1.0-0'</td>
                    <td>{{ PI | number:'1.0-0'}}</td>
                </tr>
                <tr>
                    <td>Pi: {{PI}}</td>
                    <td>number:'3.0-0'</td>
                    <td>{{ PI | number:'3.0-0'}}</td>
                </tr>
                <tr>
                    <td>Pi: {{PI}}</td>
                    <td>number:'.0-4'</td>
                    <td>{{ PI | number:'.0-4'}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{ porcentaje | percent:'2.2-2' }}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{ salario | currency }}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'EUR'</td>
                    <td>{{ salario | currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'CAD':'symbol':'.0-0'</td>
                    <td>{{ salario | currency:'CAD':'symbol':'.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'S/.'</td>
                    <td>{{ salario | currency:'S/.'}}</td>
                </tr>

                <tr>
                    <td>{{ valorPromesa }}</td>
                    <td>asycn</td>
                    <td>{{ valorPromesa | async }}</td>
                </tr>

                <tr>
                    <td>{{ fecha }}</td>
                    <td>date</td>
                    <td>{{ fecha | date }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date:'medium'</td>
                    <td>{{ fecha | date:'medium' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date:'short'</td>
                    <td>{{ fecha | date:'short' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date:'MMMM-dd'</td>
                    <td>{{ fecha | date:'MMMM-dd' }}</td>
                </tr>

                <tr>
                    <td>{{ fecha }}</td>
                    <td>date:'MMMM-dd': '':{{idioma}}
                        <br>
                        <button (click)="idioma='es'" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class="mr-1 btn btn-secondary">Inglés</button>
                        <button (click)="idioma='Fr'" class="mr-1 btn btn-success">Francés</button>
                    </td>
                    <td>{{ fecha | date:'MMMM-dd': '': idioma }}</td>
                </tr>

            </tbody>
        </table>
        <hr>
        <br>
        <h4>Caso Particular Pipe:Slice con *ngFor</h4>
        <ul>
            <li *ngFor="let item of areglo | slice:5:7"> {{item}}</li>
        </ul>
        <hr>
        <h3>Pipe: Json</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>
                  {{heroe | json}}
                </pre>
            </div>
        </div>
    </div>
</dir>
